<div class="container mt-5">
    <h2 class="text-center mb-4">{{ isEditing ? 'Editar País' : 'Registrar País' }}</h2>
  
    <!-- Formulario para Crear/Editar País -->
    <form [formGroup]="paisForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre del País:</label>
        <input type="text" id="nombre" class="form-control" formControlName="nombre" required>
      </div>
      <div class="mb-3">
        <label for="codigo" class="form-label">Código:</label>
        <input type="text" id="codigo" class="form-control" formControlName="codigo" required>
      </div>
      <div class="mb-3">
        <label for="continente" class="form-label">Continente:</label>
        <div formGroupName="continenteId">
            <ng-select 
              [items]="continentes"
              bindLabel="nombreCompleto" 
              bindValue="id" 
              formControlName="id"
              placeholder="Seleccione un continente"
              required>
            </ng-select>
          </div>          
      </div>
      <div class="mb-3">
        <label for="estado" class="form-label">Estado:</label>
        <div class="form-check form-switch">
          <input type="checkbox" class="form-check-input" id="estado" formControlName="state">
          <label class="form-check-label" for="estado">{{ paisForm.get('state')?.value ? 'Activo' : 'Inactivo' }}</label>
        </div>
      </div>
  
      <div class="modal-footer d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">{{ isEditing ? 'Actualizar' : 'Guardar' }}</button>
      </div>
    </form>
  </div>
  
  <!-- Tabla de Países -->
  <div class="table-container mt-5">
    <h2 class="text-center mb-4">Lista de Países</h2>
    <div class="table-responsive">
      <app-table [headers]="headers" [data]="paises" (edit)="editPais($event)" (delete)="deletePais($event)"></app-table>
    </div>
  </div>
  