<!-- src/app/components/login/login.component.html -->
<div class="login-container">
  <div class="background-image"></div>
  <div class="login-form-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/Sena_logo.png" alt="SENA Logo" class="sena-logo" />
      <h2>Iniciar Sesión</h2>
      <div class="form-group" [ngClass]="{'invalid': loginForm.get('username')?.invalid && (loginForm.get('username')?.touched || loginForm.get('username')?.dirty)}">
        <label for="username">Nombre de usuario:</label>
        <input id="username" formControlName="username" type="text" class="form-control" placeholder="Ingrese su nombre de usuario" />
        <div *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.touched || loginForm.get('username')?.dirty)" class="text-danger">
          <small>Este campo es obligatorio.</small>
        </div>
      </div>
      <div class="form-group" [ngClass]="{'invalid': loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)}">
        <label for="password">Contraseña:</label>
        <input id="password" formControlName="password" type="password" class="form-control" placeholder="Ingrese su contraseña" />
        <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)" class="text-danger">
          <small>Este campo es obligatorio.</small>
        </div>
      </div>
      <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Iniciar Sesión</button>
      <div class="additional-info">
        <p>¿Olvidaste tu contraseña? <a href="#">Recuperar aquí</a></p>
      </div>
    </form>
  </div>
</div>
