<div class="container mt-5">
  <!-- Formulario de Registro / Edición -->
  <h2 class="text-center mb-4">{{ isEditing ? 'Editar Vista' : 'Registrar Vista' }}</h2>

  <form (ngSubmit)="onSubmit()" #vistaForm="ngForm">
    <!-- Alerta de nombre duplicado -->
    <div *ngIf="duplicateNameError" class="alert alert-danger" role="alert">
      El nombre de la vista ya existe. Por favor, elige otro nombre.
    </div>

    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre:</label>
      <input type="text" id="nombre" class="form-control" [(ngModel)]="selectedVista.nombre"
        name="nombre" required>
    </div>
    <div class="mb-3">
      <label for="descripcion" class="form-label">Descripción:</label>
      <input type="text" id="descripcion" class="form-control" [(ngModel)]="selectedVista.descripcion"
        name="descripcion">
    </div>
    <div class="mb-3">
      <label for="ruta" class="form-label">Ruta:</label>
      <input type="text" id="ruta" class="form-control" [(ngModel)]="selectedVista.ruta"
        name="ruta" required>
    </div>
    <div class="mb-3">
      <label for="modulo" class="form-label">Módulo:</label>
      <select id="modulo" class="form-control" [(ngModel)]="selectedVista.moduloId"
        name="moduloId" required>
        <!-- Opciones para el módulo deben ser cargadas aquí -->
      </select>
    </div>

    <!-- Barra de estado Activo/Inactivo -->
    <div class="mb-3">
      <label for="status" class="form-label">Estado:</label>
      <div class="form-check form-switch">
        <input type="checkbox" class="form-check-input" id="status" [(ngModel)]="selectedVista.state"
          name="estado">
        <label class="form-check-label" for="status">{{ selectedVista.state ? 'Activo' : 'Inactivo' }}</label>
      </div>
    </div>

    <div class="modal-footer d-flex justify-content-center">
      <button type="submit" class="btn btn-primary">{{ isEditing ? 'Actualizar' : 'Guardar' }}</button>
    </div>
  </form>
</div>

<!-- Tabla para Mostrar las Vistas -->
<div class="table-container mt-5">
  <h2 class="text-center mb-4">Lista de Vistas</h2>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Ruta</th>
          <th>Módulo</th>
          <th>Estado</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vista of vistas">
          <td>{{ vista.nombre }}</td>
          <td>{{ vista.descripcion }}</td>
          <td>{{ vista.ruta }}</td>
          <td>{{ vista.moduloId }}</td>
          <td>{{ vista.state ? 'Activo' : 'Inactivo' }}</td>
          <td>
            <button (click)="editVista(vista)" class="btn btn-primary btn-sm">Editar</button>
            <button (click)="deleteVista(vista.id)" class="btn btn-danger btn-sm">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
