<div class="container mt-5">
  <h2 class="text-center mb-4">{{ isEditing ? 'Editar Vista' : 'Registrar Vista' }}</h2>

  <!-- Formulario para Crear/Editar Vista -->
  <form [formGroup]="vistaForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre de la Vista:</label>
      <input type="text" id="nombre" class="form-control" formControlName="nombre" required>
    </div>
    <div class="mb-3">
      <label for="descripcion" class="form-label">Descripción:</label>
      <input type="text" id="descripcion" class="form-control" formControlName="descripcion" required>
    </div>
    <div class="mb-3">
      <label for="ruta" class="form-label">Ruta:</label>
      <input type="text" id="ruta" class="form-control" formControlName="ruta" required>
    </div>
    <div class="mb-3">
      <label for="modulo" class="form-label">Módulo:</label>
      <div formGroupName="moduloId">
        <ng-select 
          [items]="modulos"
          bindLabel="nombreCompleto"
          bindValue="id"
          formControlName="id"
          placeholder="Seleccione un módulo"
          required>
        </ng-select>
      </div>
    </div>
    <div class="mb-3">
      <label for="estado" class="form-label">Estado:</label>
      <div class="form-check form-switch">
        <input type="checkbox" class="form-check-input" id="estado" formControlName="state">
        <label class="form-check-label" for="estado">{{ vistaForm.get('state')?.value ? 'Activo' : 'Inactivo' }}</label>
      </div>
    </div>

    <div class="modal-footer d-flex justify-content-center">
      <button type="submit" class="btn btn-primary">{{ isEditing ? 'Actualizar' : 'Guardar' }}</button>
    </div>
  </form>
</div>

<!-- Tabla de Vistas -->
<div class="table-container mt-5">
  <h2 class="text-center mb-4">Lista de Vistas</h2>
  <div class="table-responsive">
    <app-table [headers]="headers" [data]="vistas" (edit)="editVista($event)" (delete)="deleteVista($event)">
    </app-table>
  </div>
</div>
