<p>usuarios-roles works!</p>
<div class="container mt-5">
    <h2 class="text-center mb-4">{{ isEditing ? 'Editar Usuario-Rol' : 'Registrar Usuario-Rol' }}</h2>
  
    <!-- Formulario para Crear/Editar Usuario-Rol -->
    <form [formGroup]="usuariosRolesForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="usuario" class="form-label">Usuario:</label>
        <div formGroupName="usuarioId">
          <ng-select 
            [items]="usuarios"
            bindLabel="nombreCompleto"
            bindValue="id"
            formControlName="id"
            placeholder="Seleccione un usuario"
            required>
          </ng-select>
        </div>
      </div>
      <div class="mb-3">
        <label for="rol" class="form-label">Rol:</label>
        <div formGroupName="roleId">
          <ng-select 
            [items]="roles"
            bindLabel="nombreCompleto"
            bindValue="id"
            formControlName="id"
            placeholder="Seleccione un rol"
            required>
          </ng-select>
        </div>
      </div>
      <div class="mb-3">
        <label for="estado" class="form-label">Estado:</label>
        <div class="form-check form-switch">
          <input type="checkbox" class="form-check-input" id="estado" formControlName="state">
          <label class="form-check-label" for="estado">{{ usuariosRolesForm.get('state')?.value ? 'Activo' : 'Inactivo' }}</label>
        </div>
      </div>
  
      <div class="modal-footer d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">{{ isEditing ? 'Actualizar' : 'Guardar' }}</button>
      </div>
    </form>
  </div>
  
  <!-- Tabla de Usuarios-Roles -->
  <div class="table-container mt-5">
    <h2 class="text-center mb-4">Lista de Usuarios-Roles</h2>
    <div class="table-responsive">
      <app-table [headers]="headers" [data]="usuariosRoles" (edit)="editUsuariosRoles($event)" (delete)="deleteUsuariosRoles($event)">
      </app-table>
    </div>
  </div>
  