  <nav class="navbar">
      <ul class="menu">
        <li class="nav-item" tooltip="Inicio" placement="right">
          <a href="/home">
            <i class="fas fa-home"></i>
          </a>
        </li>
        <li class="nav-item" tooltip="Acerca de" placement="right">
          <a href="/about">
            <i class="fas fa-info-circle"></i>
          </a>
        </li>
        <li class="nav-item" tooltip="Contactos" placement="right">
          <a href="/contact">
            <i class="fas fa-address-book"></i>
          </a>
        </li>
        <li class="nav-item" tooltip="Salir" placement="right">
          <a href="/configuracion">
            <i class="fas fa-cog"></i>
          </a>
        </li>
        <div class="navbar-brand">
          <span class="project-name">Schedule</span>
        </div>
      </ul>
    </nav>
  
  
  